<a class="list-group-item" href="<%= product_path(product_id) %>">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <img src="<%= picture %>" class="img-rounded pull-left list-img" />
            <h4 class="list-group-item-heading">
                <%= name %>
            </h4>
            <p class="list-group-item-text">
                <%= description %>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p class="list-group-item-text"><b>In Stock</b></p>
            <p class="list-group-item-text">$
                <%= quantity %>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p class="list-group-item-text"><b>Sale Price</b></p>
            <p class="list-group-item-text">$
                <%= sale_price %>
            </p>
        </div>
        <div class="col-xs-6 col-md-3">
            <p class="list-group-item-text"><b>Lot Code</b></p>
            <p class="list-group-item-text">#
                <em><%= lot %></em>
            </p>
        </div>
    </div>
</a>