<h3>Sales</h3>

<h4><b>Last 5 sales</b></h4>

<div class="col-12 col-sm-12 col-lg-12">
  <div class="table-responsive">
    <table class="table table-hover table-striped shadow-2dp">
      <tr class="info">
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Customer</th>
        <th>Sale Date</th>
      </tr>
      <tr>
        <% @sales.each do |sale| %>
        <td><%= sale.stock.stock_name %></td>
        <td><%= q = sale.quantity %></td>
        <td><%= p = sale.stock.stock_price %></td>
        <td><%= q*p %></td>
        <td><%= sale.notes %></td>
        <td><%= human_date(sale.created_at) %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>