<!DOCTYPE html>
<html>

<head>
	<title>Administra</title>
	<%= csrf_meta_tags %>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Administra</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="<%= url_for(root_path) %>"><%= fa_icon('home', class:"nav-icon") %> Home</a></li>
            <li><a href="<%= url_for(products_path) %>"><%= fa_icon('archive', class:"nav-icon") %> Products</a></li>
            <li><a href="<%= url_for(categories_path) %>"><%= fa_icon('folder', class:"nav-icon") %> Categories</a></li>
            <li><a href="<%= url_for(sales_path) %>"><%= fa_icon('shopping-bag', class:"nav-icon") %> Sales</a></li>
            <li><a href="<%= url_for(stocks_path) %>"><%= fa_icon('database', class:"nav-icon") %> Stock</a></li>
            <li><a href="<%= url_for(providers_path) %>"><%= fa_icon('users', class:"nav-icon") %> Providers</a></li>
            <li><a href="<%= url_for(stocks_path) %>"><%= fa_icon('bar-chart', class:"nav-icon") %> Charts</a></li>
            <li>
            <%= link_to(destroy_user_session_path, :method => :delete) do%>
              Logout
              <%= icon('lock', class:"nav-icon") %>
            <% end %>
            </li>

          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

</html>